body {
    font-family: circular-spotify-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    height: 100%;
}
img {
    padding: 0;
    display: inline-block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
}
.head {
    border-bottom: 1px solid #d9dadc;
    padding: 25px 0 10px;
    margin-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
    
}
#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    box-sizing: border-box;
    width: 100%;
} 
.input input, .register input  {
    display: block;
    height: 30px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
}
#loginContainer label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    margin-bottom: 5px;
}
#inputContainer h2 {
    line-height: 36px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
    letter-spacing: -0.04rem;
    text-align: center;
}
#signuptext {
    margin-bottom: 3rem;
    font-weight: 700;
}
#loginForm button[type="submit"], #registerForm button[type="submit"] {
    padding-bottom: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    float: right;
    width: 100%;
    box-sizing: border-box;
    color: #FFF;
    background-color: #15883e;
    padding: 16px 14px 18px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
#loginForm button:hover {
    background-color: #1DB954;
}
.hasAccountText   {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.hasAccountText span {
    margin-bottom: 2rem;
}
.hasAccountText button {
    display: block;
    width: 412.4px;
    float: left;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px; 
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
.hasAccountText button:hover {
    background-color: #616467;
    color: #fff;
}
#loginForm button[type="button"] {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    float: right;
    width: 100%;
    box-sizing: border-box;
    color: #616467;
    background-color: #fff  ;
    padding: 16px 14px 18px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    border-color: #ccc;
    box-shadow: inset 0 0 0 2px #616467;
    padding: 16px 48px 18px;
    border-width: 0; 
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
#loginForm button[type="button"]:hover {
    background-color: #616467;
    color: #fff;
}
#hideRegister {
    cursor: pointer;
    color: #1DB954;
    text-decoration: underline;
}
#loginForm, #registerForm {
    display: none;
}
.remember-me input[type="checkbox"] {
    vertical-align: middle; 
    position: relative; 
    bottom: 1px;
    margin: 0 1rem 0 0;
    transform: scale(1.5);
    
}
.remember-me label {
    margin-top: 1rem;
    color: #616467;
}
.hasAccountTextreg  {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
